{% load static %}

<header>
    <!-- INI::Menu -->
    <nav class="navbar navbar-expand-lg mb-5 border-bottom" data-bs-theme="dark" style="background-color: #16161d;">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">
                <!-- 11_desenvolvimento_web/02_django/projeto_crud/crud_app/templates/assets/img/icon_dev.png -->
                <img src="{% static 'img/icon_dev.png' %}" alt="icone_menu_principal" style="margin: -10px 0px;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cadastrar_pessoa' %}">Cadastrar pessoa</a>
                    </li>
                </ul>
                <form class="d-flex" role="search" action="{% url 'pesquisar_pessoa' %}" method="GET">
                    <input class="form-control me-2" type="search" placeholder="Pesquisar pessoas" aria-label="Search" name="input_pesquisar_pessoa"/>
                    <button class="btn btn-outline-success" type="submit">Pesquisar</button>
                </form>
            </div>
        </div>
    </nav>
    <!-- FIM::Menu -->
</header>